.container {
  .cards {
    padding-top: 5vw;
    padding-bottom: 5vw;
  }
  .cards:first-child {
    padding-top: 0;
  }
  .cards:nth-child(3n + 1) .cat-image-desc {
    // background: rgba(254, 146, 22, 0.2);
    background: rgba(254, 146, 22, 0.5);
  }
  .cards:nth-child(3n + 2) .cat-image-desc {
    // background: rgba(219, 95, 179, 0.2);
    background: rgba(219, 95, 179, 0.5);
  }
  .cards:nth-child(3n + 3) .cat-image-desc {
    // background: rgba(81, 44, 111, 0.2);
    background: rgba(81, 44, 111, 0.5);
  }
  .product-overlay-bg {
    background: rgba(0, 0, 0, 0.1);
  }
  .product-image {
    .image-parallax {
      border-radius: 10px;
      overflow: hidden;
      border: 4px solid #fff;
    }
  }
  .product-shape {
    background: linear-gradient(to bottom, #fe9216, #db5fb3, #512c6f);
    transform: translate3d(4vw, 5vw, 0);
  }
  .cat-image {
    width: 50%;
    // opacity: 0.3;
    // border-radius: 50%;
    // border: 2px solid #512c6f;
    // background: black;
    // padding: 1rem;
  }
  .cat-image-desc {
    aspect-ratio: 1 / 1;
    border: 4px solid #fff;
    border-radius: 50%;
    color: #fff;
    // width: 80%;
    width: 300px;
    // padding: 5vw;
    // line-height: 1;
    p {
      // border: 4px solid #fff;
      font-size: 2rem;
      padding: 1rem;
      // padding: 8vw 2vw;
      // border-radius: 50%;
    }
  }
  .product-name {
    color: #0000;
    // font-size: 5rem;
    font-size: 5.1666666667vw;
    font-weight: 700;
    transform-style: preserve-3d;
    // mix-blend-mode: screen;
    div {
      color: #fe9216;
      // -webkit-text-stroke: 2px #db5fb3;
      -webkit-text-stroke: 1px #fff;
      // mix-blend-mode: screen;
    }
  }
  .product-desc {
    color: #db5fb3;
    // font-size: 4rem;
    font-size: 4.3333333333vw;
    font-weight: 400;
    // -webkit-text-stroke: 2px #512c6f;
    -webkit-text-stroke: 1px #fff;
    // mix-blend-mode: screen;
  }
  .product-price {
    color: #512c6f;
    // font-size: 6rem;
    font-size: 6vw;
    font-weight: 700;
    // -webkit-text-stroke: 2px #fe9216;
    -webkit-text-stroke: 1px #fff;
  }
  .header {
    color: #0000;
    font-size: 6vw;
    -webkit-text-stroke: 2px #512c6f;
  }
  .divider {
    height: 1px;
    background: linear-gradient(to right, #fe9216, #db5fb3, #512c6f);
    // background: #512c6f;
    margin: 2rem 0;
  }
  .line {
    height: 1px;
    background: linear-gradient(to right, #fe9216, #db5fb3, #512c6f);
    background: #512c6f;
  }
}
