.container {
    .homeabout-left {

    }
    .homeabout-right {
        p {
            max-width: 80%;
            margin: auto;
            color: #fff;
            font-size: 1.75rem;
            text-align: left;
            @media (max-width: 1279px) {
                font-size: 1.5rem;
            }
            @media (max-width: 1023px) {
                font-size: 1.25rem;
                text-align: center;
            }
            @media (max-width: 767px) {
                font-size: 1rem;
            }
        }
    }
    // .sticky-holder {
    //     border: 1px solid white;
    // }
    .sticky {
        background: #bde0fe;
        border-radius: 8px;
        box-shadow: 0 10px 30px rgba(0,0,0,0.1);
        width: 80%;
        padding: 2rem;
        aspect-ratio: 2/1;
        height: auto;
        .pinku {
            margin: auto;
            width: 70%;
            // height: auto;
        }
    }
    .sticky-left {
        transform: rotate(-5deg);
    }
    .sticky-right {
        transform: rotate(5deg);
    }
}