.container {
    .orbit-guide {
        opacity: 0.5;
    }
    .orbit-star1 {
        width: 11.5%;
        top: 19.5%;
        left: 9%;
    }
    .orbit-star2 {
        width: 11.5%;
        top: 0.5%;
        right: 19%;
    }
    .orbit-star3     {
        width: 11.5%;
        bottom: 7.5%;
        left: 27%;
    }
    .orbit-star4 {
        width: 5%;
        left: 27%;
        top: 14%;
    }
    .orbit-star5 {
        width: 5%;
        left: 43%;
        top: 19%;
    }
    .orbit-star6 {
        width: 4%;
        top: 3%;
        left: 54%;
    }
    .orbit-star7 {
        width: 4%;
        top: 17%;
        right: 27%;
    }
    .orbit-star8 {
        width: 4%;
        top: 20.5%;
        right: 6.5%;
    }
    .orbit-star9 {
        width: 4%;
        top: 39.5%;
        right: 0.5%;
    }
    .orbit-star10 {
        width: 4.5%;
        bottom: 32%;
        right: 10%;
    }
    .orbit-star11 {
        width: 4.5%;
        bottom: 15%;
        right: 26%;
    }
    .orbit-star12 {
        width: 4.5%;
        bottom: 18%;
        right: 45%;
    }
    .orbit-star13 {
        width: 4.5%;
        bottom: 22%;
        left: 8%;
    }
    .orbit-star14 {
        width: 4.5%;
        bottom: 34%;
        left: 0%;
    }
}