.container {
  // filter: blur(2px);
  // background: #ffdaed;
  background: linear-gradient(to right, 
    rgb(109,103,161), 
    rgb(91,90,152), 
    rgb(126,123,199), 
    rgb(130,127,202), 
    rgb(88,87,149)
  );
  // background: #000;
  // background: linear-gradient(to bottom, #fe9216, #db5fb3, #512c6f);
  .logo {
    background: linear-gradient(to bottom, #fe9216, #db5fb3, #512c6f);
    width: 40%;
    opacity: 0.1;
  }
  .circles {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vmin;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    &:nth-child(1) {
      transform: translate(-50%, -50%) scale(2);
      background: #fff;
    }
    &:nth-child(2) {
      transform: translate(-50%, -50%) scale(1.8);
      background: #ffdaed;
    }
    &:nth-child(3) {
      transform: translate(-50%, -50%) scale(1.6);
      background: #fff;
    }
    &:nth-child(4) {
      transform: translate(-50%, -50%) scale(1.4);
      background: #ffdaed;
    }
    &:nth-child(5) {
      transform: translate(-50%, -50%) scale(1.2);
      background: #fff;
    }
    &:nth-child(6) {
      transform: translate(-50%, -50%) scale(1);
      background: #ffdaed;
    }
  }
  .orbit {
    width: 50%;
    aspect-ratio: 1/1;
    left: 1vw;
    bottom: 50%;
    transform: translate3d(0, 70%, 0);
  }
  .ufo {
    width: 25%;
    aspect-ratio: 1/1;
    right: 5vw;
    top: 4vw;
  }
}
